# This workflow is triggered on a schedule and manually to delete old workflow runs.
# It uses the Mattraks/delete-workflow-runs action to delete workflow runs older than 5 days,
# while keeping a minimum of 10 runs.
name: Cleanup Workflow Runs
on:
  workflow_dispatch:
  schedule:
    - cron: "0 8 * * *"

jobs:
  del_runs:
    runs-on: ubuntu-latest
    permissions:
      actions: write
    steps:
      - name: Delete workflow runs
        uses: Mattraks/delete-workflow-runs@v2.0.6
        with:
          token: ${{ github.token }}
          repository: ${{ github.repository }}
          retain_days: 5
          keep_minimum_runs: 10
