name: Deploy Template

on:
  workflow_call:
    inputs:
      git_ref:
        required: true
        type: string
      version:
        required: true
        type: string
      values_file:
        required: true
        type: string
    secrets:
      manifest-repo-deploy-key:
        required: true

jobs:

  deploy:
    name: Deploy Zeva2
    runs-on: ubuntu-latest
    timeout-minutes: 60

    steps:

      - name: Checkout Manifest repository
        uses: actions/checkout@v4.1.1
        with:
          repository: bcgov-c/tenant-gitops-ea8eab
          ref: main
          ssh-key: ${{ secrets.manifest-repo-deploy-key }}

      - name: Update tags
        uses: mikefarah/yq@v4.40.5
        with:
          cmd: |
            yq -i '.image.tag = "${{ inputs.version}}"' zeva2/zeva2-next/${{ inputs.values_file }}
            yq -i '.image.tag = "$${{ inputs.version}}"' zeva2/zeva2-bullmq/${{ inputs.values_file }}

      - name: GitHub Commit & Push
        shell: bash {0}
        run: |
          git config --global user.email "actions@github.com"
          git config --global user.name "GitHub Actions"
          git add zeva2/zeva2-next/values-dev.yaml
          git add zeva2/zeva2-bullmq/values-dev.yaml
          git commit -m "Update the zeva2 image tags to ${{ inputs.version}} on ${{ secrets.target-namespace }}"
          git push
