# This workflow tears down the pull request deployment on development environment
name: PR Teardown on Dev

on:
  pull_request_target:
    types: [unlabeled, closed]
    branches:
      - main

permissions:
  contents: read

env:
  DEV_NAMESPACE: ${{ secrets.OPENSHIFT_NAMESPACE_PLATE }}-dev
  PR_NUMBER: ${{ github.event.pull_request.number }}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  # install oc command line tool
  install-oc:
    if: >
      (github.event.action == 'unlabeled' && github.event.label.name == 'build') || 
      (github.event.action == 'closed' && contains(github.event.pull_request.labels.*.name, 'build') )
    uses: ./.github/workflows/install-oc-template.yaml

  # Teardown the pull request deployment
  teardown:
    if: >
      (github.event.action == 'unlabeled' && github.event.label.name == 'build') || 
      (github.event.action == 'closed' && contains(github.event.pull_request.labels.*.name, 'build') )
    name: PR Teardown
    runs-on: ubuntu-latest
    timeout-minutes: 60
    needs: [install-oc]

    steps:
      - name: Restore oc command from Cache
        uses: actions/cache@v4.2.0
        with:
          path: /usr/local/bin/oc
          key: oc-cli-${{ runner.os }}

      - name: Log in to Openshift
        uses: redhat-actions/oc-login@v1.3
        with:
          openshift_server_url: ${{ secrets.OPENSHIFT_SERVER }}
          openshift_token: ${{ secrets.OPENSHIFT_TOKEN }}
          insecure_skip_tls_verify: true
          namespace: ${{ env.DEV_NAMESPACE }}

      - name: Teardown the pull request
        run: |
          helm -n ${{ env.DEV_NAMESPACE }} uninstall zeva2-next-dev-${{ env.PR_NUMBER }} || true
          helm -n ${{ env.DEV_NAMESPACE }} uninstall zeva2-bullmq-dev-${{ env.PR_NUMBER }} || true
          helm -n ${{ env.DEV_NAMESPACE }} uninstall zeva2-postgresql-dev-${{ env.PR_NUMBER }} || true
          helm -n ${{ env.DEV_NAMESPACE }} uninstall zeva2-redis-dev-${{ env.PR_NUMBER }} || true
          helm -n ${{ env.DEV_NAMESPACE }} uninstall zeva2-minio-dev-${{ env.PR_NUMBER }} || true
          oc -n ${{ env.DEV_NAMESPACE }} delete pvc -l app.kubernetes.io/instance=zeva2-postgresql-dev-${{ env.PR_NUMBER }} || true
          oc -n ${{ env.DEV_NAMESPACE }} delete pvc -l app.kubernetes.io/instance=zeva2-redis-dev-${{ env.PR_NUMBER }} || true
          oc -n ${{ env.DEV_NAMESPACE }} delete pvc -l app.kubernetes.io/instance=zeva2-minio-dev-${{ env.PR_NUMBER }} || true
